[submodule "3/minishell"]
	path = 3/minishell
	url = git@github.com:Melovii/minishell.git
[submodule "3/philo"]
	path = 3/philo
	url = git@github.com:Melovii/philo.git
[submodule "4/cub3D"]
	path = 4/cub3D
	url = git@github.com:melmut-42/cub3D.git
[submodule "4/Netpractice"]
	path = 4/Netpractice
	url = git@github.com:Melovii/Netpractice.git
[submodule "4/CPP-1"]
	path = 4/CPP-1
	url = git@github.com:Melovii/CPP-1.git
